:root {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.container {
  border-radius: 1rem;  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 26.8rem;
  background-color: white;
  overflow: hidden;
  max-height: 100vh;
  min-width: 375px;
}

.image {
  display: block;
  width: 375px;
}

.category {
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  font-size: 1rem;
  letter-spacing: 0.4rem;
}

.category p {
  margin: 0;
}

.product-name {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  font-size: 2.5rem;
  padding-right: 2rem;
  line-height: 3rem;
  margin: 1rem 2rem 0 0;
}

.card2 {
  padding: 2rem;
  background-color: white;
  border-radius: 0 1rem 1rem 0;
}

.product-description {
  color: hsl(228, 12%, 48%);
  line-height: 1.8rem;
}

.price {
  display: flex;
  align-items: center;
  margin: 1rem 1rem 1rem 0;
}

.new-price {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 3rem;
}

.old-price {
  padding: 0 2rem;
  color: hsl(228, 12%, 48%);
}

.button {
  background-color: hsl(158, 36%, 37%);
  border: 0px;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  font-family: inherit;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  display: inline;
  display: flex;
  justify-content: center;
}

.cart {
  display: inline-block;
  margin: 0 0.7rem;
  width: 1.2rem;
}

.button:hover {
  background-color: hsl(158, 87%, 12%);
  cursor: pointer;
}

@media (min-width: 750px) {
  .container {
    max-width: 54rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .card2 {
    padding: 3rem;
  }

  .category {
    margin-bottom: 3rem;
  }

  .header-and-description {
    margin: 3rem 1rem 3rem 0;
  }

  .price {
    margin: 1.2rem 0;
  }
  .product-description {
    line-height: 2rem;
    font-size: 1.1rem;
  }
}
